*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	color:#3e3e40;
}
/* header css */
.aTag{
	text-decoration: none;
	color:#3E3E40;
	font-size: larger;
}
p{
    margin-bottom: 0px;
}
.navHeader{
    padding: 0px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

}
.logoForWebsite{
    width: 5rem;
}
input[type=search]
{
    background-color: #eaf3fb;
    border-radius: 15px;
    border: 1px solid #eaf3fb ;
    width: 25rem;
    font-size: 16px;
    padding: 4px 2px 0px 4px;
	outline: none;
}
.searchFild{
    position:relative
}
.searchIcon{
    background-color: #eaf3fb;
    border:1px solid #3E3E40;
    padding: 3px 8px 0px 8px;
    position:absolute;
    right:0px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}
.searchIcon svg{
    margin-bottom: 4px;
}
.rightSideOfNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:16px
}
.searchIconMobile{
    display:none;
padding: 0%;
}
.profileToggle{
 border:none;
}
.iconInDropdown{
    color:#2732C2;
}

.profileToggle:after{
    content: none;
   }
.cartIcon{
position: relative;
}
.numberOnCart{
    position: absolute;
    top:-6px;
    right:-5px;
    background-color: #2732C2;
    color: #fff;
    padding: 0px 4px;
    border-radius: 50px;
    font-size: 10px;
    border:1px solid #fff;
}

/* Meadia Query for header */
@media only screen and (max-width: 600px){
    .searchIconMobile{
        display:block;
    }
    .searchFild{
        display:none
    }
    .becomeSeller{
        display:none
    }
}

/* Main */
.mainDiv{
    background-color: #eaf3fb;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.cancel-order-contents
{
    width: 90%;
    align-items: left;
    justify-content: flex-start;
    gap: 2rem;
    background-color: #fff;

    border-radius: 10px;
}
.cancel-forms
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.form-submit-button
{
 width: 100%;
 text-align: center;
}
.form-submit-button .btn
{
    padding: auto 6rem;
}
