*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	color:#3e3e40;
}


/* header css */

.logoForWebsite{
    width: 5rem;
}

/* Main section  */
.contact-us
{
    background-color: #eaf3fb;

    align-items: center;
    padding-top: 1rem;
    gap: .5rem;
}
.contact-us h2
{
    font-weight: 600;
}
.contact-content
{

    background-color: #ffffff;

    border-radius: 20px;
    padding: 0 auto;
}
.icons
{
    font-size: 3rem;
    /* color: #F3AA60; */
    /* color: #525FE1; */
    color: rgba(39,50,194);
}
.pTags
{
    font-size: 16px;
    /* margin-top: 1rem; */
    margin-bottom: 1px;
}
.p-head
{
    font-size: 20px;
    font-weight: 800;
}
.contact-types
{
    text-align: center;
    gap: 2px;
}

.social-contact
{
    width: 100%;
    text-align: center;
    margin: 2rem auto;
    font-size: 16px;
}
.s-icon:hover
{
    color: #833AB4;
}
.s-icon
{
    font-size: 3rem;

}
.s-pTags
{
    font-size: 20px;

}
.copyRight-text
{
    font-weight: bold;
}
/* Icons color */
.bi-instagram
{
    color:#E1306C;
}
.bi-facebook
{
    color: #1877F2;
}
.bi-linkedin
{
    color: #0e76a8;
}
