body,
html {
  font-family: Arial, Helvetica, sans-serif;
}

/* header css */
a{
	text-decoration: none;
	color:#3E3E40;
	font-size: larger;
}
p{
    margin-bottom: 0px;
}
.navHeader{
    padding: 0px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

}
.logoForWebsite{
    width: 5rem;
}
input[type=search]
{
    background-color: #eaf3fb;
    border-radius: 15px;
    border: 1px solid #eaf3fb ;
    width: 25rem;
    font-size: 16px;
    padding: 4px 2px 0px 4px;
	outline: none;



}
.searchFild{
    position:relative
}
.searchIcon{
    background-color: #eaf3fb;
    border:1px solid #3E3E40;
    padding: 3px 8px 0px 8px;
    position:absolute;
    right:0px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}
.searchIcon svg{
    margin-bottom: 4px;
}
.rightSideOfNav{
    display: flex;
 justify-content: space-around;
 align-items: center;
gap:16px
}
.searchIconMobile{
    display:none;
padding: 0%;
}
.profileToggle{
 border:none;
}
.iconInDropdown{
    color:#2732C2;
}

.profileToggle:after{
    content: none;
   }
.cartIcon{
position: relative;
}
.numberOnCart{
    position: absolute;
    top:-6px;
    right:-5px;
    background-color: #2732C2;
    color: #fff;
    padding: 0px 4px;
    border-radius: 50px;
    font-size: 10px;
    border:1px solid #fff;
}

/* Meadia Query for header */
@media only screen and (max-width: 600px){
    .searchIconMobile{
        display:block;
    }
    .searchFild{
        display:none
    }
    .becomeSeller{
        display:none
    }
}

/* Main */
.my-orders
{
    margin: 1rem auto;
}
.orders
{
    border:1px solid #f1f1f1;
    padding:5px 10px;
    margin-bottom:12px;
}
.productImg{

    width:200px;
    height:150px
}
.productImg img{
    width: 100%;
    height:100%;
    object-fit: contain;
}
/* Help Center */
.help-details
{
    justify-content: center;
    align-items: center;
    border:1px solid #f1f1f1;
    padding:5px 10px;
    margin-bottom:12px;
}
.customer-help
{
    font-size: 20px;
    text-align: left;
}
.customer-help i
{
    color: #2832C6;
}


/* STEP Progress bar style */
h2{
    color: #2F8D46;
}
#form {
    text-align: center;
    position: relative;
}

#form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative
}

.finish {
    text-align: center
}

#form fieldset:not(:first-of-type) {
    display: none
}

#form .previous-step, .next-step {
    width: 100px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

.form, .previous-step {
    background: #616161;
}

.form, .next-step {
    background: #2F8D46;
}

#form .previous-step:hover,
#form .previous-step:focus {
    background-color: #000000
}

#form .next-step:hover,
#form .next-step:focus {
    background-color: #2F8D46
}

.text {
    color: #2F8D46;
    font-weight: normal
}
#progressbar .active {
    color: #2F8D46
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: ""
}

#progressbar #step2:before {
    content: ""
}

#progressbar #step3:before {
    content: ""
}

#progressbar #step4:before {
    content: ""
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #2F8D46
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #2F8D46
}

.rateUs-contents{
    text-align: center;
    align-items: center;
}
.rateUs-contents p i
{
    color: bisque;
    cursor: pointer;
}
#rate-btn
{
    color: black;
}
.rateing-contents
{
    border: 1px solid black;
    display: none;
}

.reveiw-contents .form-floating
{
/* width: 100%; */

    border-radius: 5px;
}
.reveiw-contents .form-floating textarea
{
    background-color: #eaf3fb;
}
/* .reveiw-contents .reveiw-imgs
{

   width: 100%;
} */
.reveiw-imgs
{
    align-items: center;
    border-radius: 5px;
    background-color: #eaf3fb;

}
.reveiw-imgs .productImg
{
    width: 150px;
    height: 100px;
}
.review-submit
{
    width: 100%;
    text-align: center;
}
.review-submit button
{
    width: 30%;
    font-size: 17px;
}