<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!-- BootStrap Icon Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Style Sheet  -->
    <link rel="stylesheet" href="../static/css/contactUs.css">
</head>
<body>
    <!-- Header -->
    <div class="navHeader">
        <div><a href="#"><img class='logoForWebsite' src="../static/logo.png"></img></a></div>
    </div>

    <!-- Main Section -->
    <div class="container-fluid contact-us d-flex flex-column">
        <h2 class="">Contact Us</h2>
        <div class="container contact-content align-center">
            <div class="d-flex justify-content-evenly ">
                <div class="d-flex flex-column contact-types">
                    <i class="bi bi-telephone-forward-fill icons"></i>
                    <p class="p-head">Any query contact</p>
                    <p class="pTags">8050010030</p>
                </div>
                <div class="d-flex flex-column contact-types">
                    <i class="bi bi-geo-alt-fill icons"></i>
                    <p class="p-head">Corporate office Address</p>
                    <p class="pTags ">JustO Ecommerce Pvt Ltd <br>
                        #722, “Raj Arcade”, 1st floor,<br>
                        (Above Bank of Maharashtra).,<br>
                        24th Main road, 6th phase,<br>
                        JP Nagar, Bangalore-560078, Karnataka</p>
                </div>
                <div class="d-flex flex-column contact-types">
                    <i class="bi bi-envelope-plus-fill icons"></i>
                    <p class="p-head">write us on</p>
                    <p class="pTags">helpdesk@wobo4u.world</p>
                    <p class="pTags">marketing@wobo4u.world</p>
                </div>
            </div>
            <div class="flex flex-column social-contact">
                <p class="p-head">Follow Us On</p>
                <div class="d-flex justify-content-center">
                    <div>
                        <a href="#"><i class="bi bi-linkedin fm-icon s-icon "></i></a>
                        <p class="s-pTags">linkedin</p>
                    </div>
                    <div>
                        <a href="#"><i class="bi bi-instagram fm-icon s-icon"></i></a>
                        <p class="s-pTags">Instagram</p>
                    </div>
                    <div>
                        <a href="#"><i class="bi bi-facebook fm-icon s-icon"></i></a>
                        <p class="s-pTags">Facebook</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyRight-text">© wobo4u.world</p>
    </div>
</body>
</html>