<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <!-- BootStrap Icon Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- BootStarp Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- CSS FILE -->
    <link rel="stylesheet" href="../static/css/footer.css">

</head>
<body>
    <div class="container-fluid footer">
        <div class="container d-flex flex-column ">
            <div class="row d-flex gap-4  py-4 f-main">
                <div class="col-12 col-md-4 d-flex flex-column">
                    <h4 class="fw-bold">ABOUT</h4>
                    <a class="footerATag"  href="#">About Us</a>
                    <a class="footerATag"  href="#">Contact Us</a>
                </div>
                <div class="col-12 col-md-4 d-flex flex-column">
                    <h4 class="fw-bold">Consumer Policy</h4>
                    <a  class="footerATag" href="#">Return Policy</a>
                    <a  class="footerATag" href="#">Terms Of Use</a>
                </div>
                <div class="col-12 col-md-3 flex flex-column ">
                    <h4 class="fw-bold">SOCIAL</h4>
                    <div class="d-flex  gap-4">
                        <a href="#"><i class="bi bi-instagram fm-icon"></i></a>
                        <a href="#"><i class="bi bi-linkedin fm-icon"></i></a>
                        <a href="#"><i class="bi bi-facebook fm-icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between py-5 f-sub">
                <div class="d-flex align-center">
                    <div class="d-flex gap-1 f-links">
                        <i class="bi bi-bag-fill f-icon"></i>
                        <a href="#">Become Seller</a>
                    </div>
                    <div class="d-flex gap-2 f-links">
                        <i class="bi bi-star-fill f-icon"></i>
                        <a href="#">Advertise</a>
                    </div>
                    <div class="d-flex gap-2 f-links">
                        <i class="bi bi-patch-question-fill f-icon"></i>
                        <a href="#">Help center</a>
                    </div>
                    <div class="d-flex gap-2 f-links">
                        <i class="bi bi-c-circle-fill f-icon"></i>
                        <a href="#">wobo4u.com</a>
                    </div>
                </div>
                <div class="d-flex fPayment-images">
                    <img src="../static/footerImages/payment-method_69e7ec.svg" alt="">
                </div>
            </div>
        </div>
    </div>


</body>
</html>