<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Order Page</title>
    <!-- BootStrap Icon Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Style Sheet Link -->
    <link rel="stylesheet" href="../static/css/myOrder.css">
</head>

<body>
    <!-- Header -->

    <div class="navHeader">
        <div><a href="#"><img class='logoForWebsite' src="../static/logo.png"></img></a></div>
        <div class="searchFild"><input type="search" class="searchBar"
                placeholder=" Search for product brand and more"></input><span class="searchIcon bi bi-search">
                <AiOutlineSearch />
            </span></div>
        <div class="rightSideOfNav ">
            <a class="becomeSeller aTag" href="#">Become A Seller</a>
            <!-- {/* search button for mobile start */} -->
            <button class="btn searchIconMobile fs-4 bi bi-search" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            </button>
            <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
                aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header pe-4">
    
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                    <div class="searchFildOffcanvas "><input type="search" class="searchBar w-100 "
                            placeholder=" Search for product brand and more"></input><span class="searchIcon">
                        </span></div>
                </div>
            </div>
            <!-- {/* search button for mobile end */} -->
    
            <div class="dropdown-right ">
                <button class="btn fs-5 p-0 dropdown-toggle profileToggle bi bi-person" type="button"
                    data-bs-toggle="dropdown">
    
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2  bi-person"></i> My
                            Profile</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-box2-heart"></i>
                            Orders</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi bi-heart"></i>
                            Wishlist</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-emoji-smile"></i>
                            Help
                            Center</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i
                                class="bi iconInDropdown fw-bold pe-2 bi-journal-check"></i>
                            Terms,Policies</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i
                                class="bi iconInDropdown fw-bold pe-2 bi-box-arrow-left"></i>
                            Logout</a></li>
                </ul>
            </div>
            <a href="#" class="cartIcon bi bi-cart3 aTag">
                <BsCart3 />
                <spam class="numberOnCart">0</spam>
            </a>
    
        </div>
    </div>

    <!-- Main Content -->

    <div class="container my-orders d-flex flex-column">
        <div class="d-flex flex-column orders-content orders">
            <div class="d-flex justify-content-evenly flex-wrap align-content-center">
                <div class="productImg">
                    <img src="../static/f1.png"></img>
                </div>
                <div class="d-flex flex-column gap-3 ">
                    <a href="#"><b>UBL Head Phone</b></a>
                    <p class="lh-sm">Rockerz 370 come equipped with latest Bluetooth v5.0 for instant wireless
                        connectivity
                    </p>
                    <p>
                        <b>Rs. 1700/- </b>
                        <span class="px-3"> 2000/-</span>
                    </p>
                </div>
                <div class="flex flex-col">
                    <button type="button" class="btn btn-outline-danger">Cancel Order</i></button>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12
                            col-lg-12 col-xl-12 text-center p-0 mt-1 mb-1">
                        <div class="px-0 pt-2 pb-0 mt-1 mb-1">
                            <form id="form">
                                <ul id="progressbar">
                                    <li class="active" id="step1">
                                        <strong>Order Confirmed</strong>
                                    </li>
                                    <li id="step2"><strong>Shipped</strong></li>
                                    <li id="step3"><strong>Out Of delivary</strong></li>
                                    <li id="step4"><strong>Delivary Expected on 13</strong></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lat orders Contents -->
        <div class="d-flex flex-column last-orders mt-5">
            <h4>Last Orders</h4>
            <div class="orders d-flex flex-column gap-3">
                <p>product delivered on <span>10 june</span></p>
                <div class="d-flex  justify-content-evenly flex-wrap">
                    <div class="productImg">
                        <img src="../static/f3.jpg"></img>
                    </div>
                    <div class="d-flex flex-column gap-3 ">
                        <a href="#"><b>MIRAGE CEILING FAN</b></a>
                        <p class="lh-sm">1200MM HIGH SPEED, 3 Blade, SMOKE BROWN
                            (5 YEARS WARRANTY)
                        </p>
                        <p>
                            <b>Rs. 1700/- </b>
                            <span class="px-3"> 2000/-</span>
                        </p>
                    </div>
                    <div class="d-flex flex-column justify-content-evenly">
                        <button type="button" class="btn btn-success mb-2">Reorder</button>
                        <button type="button" class="btn btn-warning">Return</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column rateUs-contents gap-3">
                    <p><i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i> </p>
                    <button class="btn btn-outline-light" id="rate-btn" type="toggle">Rate This Product</button>
                </div>
                <div class="container rateing-contents flex-column py-2 gap-2" id="rating-contents">
                    <div class="row reveiw-contents d-flex justify-content-evenly gap-2">
                        <div class="col-12 col-md-5 form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 100px"></textarea>
                            <label for="floatingTextarea2"> Comments</label>
                        </div>
                        <div class="col-12 col-md-5 d-flex justify-content-center reveiw-imgs px-0 flex-wrap">
                            <button class="btn btn-primary me-4"><i class="bi bi-camera-fill"></i> ADD</button>
                            <!-- <input type="file" accept="image/*" capture="camera"> -->
                            <div class="productImg">
                                <img src="../static/f1.png"></img>
                            </div>
                            <div class="productImg">
                                <img src="../static/f1.png"></img>
                            </div>

                        </div>
                    </div>
                    <div class="review-submit">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Help Center Details-->
        <div class="d-flex flex-column help-details mt-5 justify-content-center py-4 gap-4">
            <div>
                <h4>Customer Care Support</h4>
            </div>
            <div class="d-flex gap-3 customer-help">
                <i class="bi bi-telephone-fill"></i>
                <p><a href="tel:+4733378901">+47 333 78 901</a></p>
            </div>
            <div class="d-flex gap-3 customer-help">
                <i class="bi bi-envelope-at-fill"></i>
                <p><a href="mailto:wobo4u.com">wobo4u.com</a></p>
            </div>
        </div>

    </div>

    <!-- Js FILE LINK -->
    <script src="../static/js/myOrder.js"></script>
    <!-- BootStarp Script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>