<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BootStrap Icon Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- productDetailspage css link -->
    <link rel="stylesheet" href="../static/css/productDetailspage.css">
    <title>productDetailsPage</title>
</head>

<body>
    <!-- header -->
    <div class="navHeader">
        <div><a href="#"><img class='logoForWebsite' src="../static/logo.png"></img></a></div>
        <div class="searchFild"><input type="search" class="searchBar"
                placeholder=" Search for product brand and more"></input><span class="searchIcon bi bi-search">
                <AiOutlineSearch />
            </span></div>
        <div class="rightSideOfNav ">
            <a class="becomeSeller aTag" href="#">Become A Seller</a>
            <!-- {/* search button for mobile start */} -->
            <button class="btn searchIconMobile fs-4 bi bi-search" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            </button>
            <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
                aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header pe-4">

                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                    <div class="searchFildOffcanvas "><input type="search" class="searchBar w-100 "
                            placeholder=" Search for product brand and more"></input><span class="searchIcon">
                        </span></div>
                </div>
            </div>
            <!-- {/* search button for mobile end */} -->

            <div class="dropdown-right ">
                <button class="btn fs-5 p-0 dropdown-toggle profileToggle bi bi-person" type="button"
                    data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2  bi-person"></i> My
                            Profile</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-box2-heart"></i>
                            Orders</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi bi-heart"></i>
                            Wishlist</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-emoji-smile"></i>
                            Help
                            Center</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i
                                class="bi iconInDropdown fw-bold pe-2 bi-journal-check"></i>
                            Terms,Policies</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i
                                class="bi iconInDropdown fw-bold pe-2 bi-box-arrow-left"></i>
                            Logout</a></li>
                </ul>
            </div>
            <a href="#" class="cartIcon bi bi-cart3 aTag">
                <BsCart3 />
                <spam class="numberOnCart">0</spam>
            </a>

        </div>
    </div>
    <!-- header end -->

    <!-- productsBar_Names start -->
    <!-- <div class="productsBarNames d-flex justify-content-around py-2 border-bottom">
        <a class="aTag" href="#">Electronic</a>
        <a class="aTag" href="#">Large Home Appliances</a>
        <a class="aTag" href="#">Small Home Appliances </a>
        <a class="aTag" href="#">Gadgets</a>
        <a class="aTag" href="#">Fashion</a>
        <a class="aTag" href="#">Personal Care</a>
    </div> -->
    <!-- productsBar_Names end -->

    <!-- main start -->
    <div class=" forDesktop ">
        <div class="container-fluid  mainDiv d-flex flex-wrap gap-4 pt-4 ">

            <div class="leftSide col d-flex justify-content-around ">
                <div class="smallImgs d-flex   gap-1 ">
                    <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                </div>
                <div class="d-flex justify-content-around ps-1">
                    <div class="d-flex flex-column align-items-center">
                        <div class="mainImg">
                            <img src="../static/f2.png">

                        </div>
                        <button type="button" class="btn btn-success ">Add to Cart</button>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-center">
                        <i class="bi bi-heart bg-info-subtle heart rounded-circle"></i>
                        <!-- <i class="bi bi-heart-fill bg-info-subtle heart rounded-circle"></i> -->
                        <p class="star px-2 py-1 m-2 mt-3 text-white">3.5 <i
                                class="bi bi-star-fill text-warning fw-bold"></i></p>
                    </div>
                </div>
            </div>

            <div class="col rightSide pb-4">
                <h4 class="fw-semibold">MIRAGE CEILING FAN </h4>
                <p class="lh-2 mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum labore et
                    corrupti.</p>
                <p><span class="fw-bold fs-4">Rs. 1700/- </span><span class="fw-lighter text-body-tertiary">
                        2000/-</span></p>
                        <div class="d-none"><div class="sizeSpan d-flex  align-items-center mb-1">
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">S</h6></div>
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">M</h6></div>
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">L</h6></div>
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">XL</h6></div>
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">XXL</h6></div>
                        </div></div>
                <!-- Product Details  start -->

                <h6 class="fw-semibold border ps-2 py-2">Product Details <i class="bi bi-caret-right-fill"></i></h6>
                <div class="pb-2">
                    <h6 class="fw-semibold border-bottom border-dark border-2 pt-2 pb-1 d-inline">
                        Description
                    </h6>
                    <p class="pt-2 lh-2">You can enjoy cool and refreshing air even on hot summer days with the help of
                        the Bajaj Crest Neo Ceiling Fan. With its high speeds of up to 340 RPM and an air delivery rate
                        of up to 205 cubic metres per minute, this ceiling fan can keep your room well-ventilated at all
                        times. Equipped with 1200 mm high-quality ribbed aluminium blades, this ceiling fan ensures
                        excellent air delivery and long-lasting performance.</p>
                    <h6 class="fw-semibold border-bottom border-dark border-2 pt-2 pb-1 d-inline">
                        Specifications
                    </h6>
                    <p class="pt-2 lh-2">Model Name : Crest Neo<br>
                        Brand Color : Brown<br>
                        Number of Blades : 3<br>
                        Pack of : 1<br>
                        Reversible Rotation : No<br>
                        Remote : No<br>
                        Power Requirement : AC 230 V, 50 Hz<br>
                        Blade Material : Aluminium.
                    </p>
                </div>
                <!-- Ratings & Reviews start -->
                <h6 class="fw-semibold border-bottom border-dark border-2 pt-2 pb-1 d-inline">
                    Ratings & Reviews
                </h6>
                <p>
                <h3 class="star px-2 py-1 m-2 mt-3 text-white d-inline-block">3.5 <i
                        class="bi bi-star-fill text-warning fw-bold"></i></h3>170 ratings and 19 reviews</p>
                <h6 class="fw-semibold">Customer Reviews -</h6>
                <!-- Reviews box -->

                <div class="border py-2 px-1">
                    <p><span class="h4 text-success fw-semibold">3.5 Star</span> Rama</p>
                    <div class=" d-flex gap-1 ">
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    </div>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, debitis rem.</p>
                </div>
                <div class="border py-2 px-1">
                    <p><span class="h4 text-success fw-semibold">3.5 Star</span> Rama</p>
                    <div class=" d-flex gap-1 ">
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    </div>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, debitis rem.</p>
                </div>
                <div class="border py-2 px-1">
                    <p><span class="h4 text-success fw-semibold">3.5 Star</span> Rama</p>
                    <div class=" d-flex gap-1 ">
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    </div>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, debitis rem.</p>
                </div>
                <div class="border py-2 px-1">
                    <p><span class="h4 text-success fw-semibold">3.5 Star</span> Rama</p>
                    <div class=" d-flex gap-1 ">
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    </div>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, debitis rem.</p>
                </div>
            </div>
        </div>
    </div>

    <div class=" forMobile ">
        <div class="container d-flex flex-wrap gap-4 pt-4 ">

            <div class=" col d-flex flex-wrap justify-content-around gap-4">
                <div class="smallImgs d-flex   gap-1 ">
                    <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                </div>
                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column align-items-center">
                        <div class="mainImg">
                            <img src="../static/f2.png">

                        </div>
                        <button type="button" class="btn btn-success ">Add to Cart</button>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-center">
                        <i class="bi bi-heart bg-info-subtle heart rounded-circle"></i>
                        <!-- <i class="bi bi-heart-fill bg-info-subtle heart rounded-circle"></i> -->
                        <p class="star px-2 py-1 m-2 mt-3 text-white">3.5 <i
                                class="bi bi-star-fill text-warning fw-bold"></i></p>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4 class="fw-semibold">MIRAGE CEILING FAN </h4>
                <p class="lh-2 mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum labore et
                    corrupti.</p>
                <p><span class="fw-bold fs-4">Rs. 1700/- </span><span class="fw-lighter text-body-tertiary">
                        2000/-</span></p>
                        <div class="d-none"><div class="sizeSpan d-flex  align-items-center mb-1">
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">S</h6></div>
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">M</h6></div>
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">L</h6></div>
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">XL</h6></div>
                            <div class="border p-1 rounded-circle d-flex justify-content-center align-items-center "><h6 class="mb-0">XXL</h6></div>
                        </div></div>
                <!-- Product Details  start -->

                <h6 class="fw-semibold border ps-2 py-2">Product Details <i class="bi bi-caret-right-fill"></i></h6>
                <div class="pb-2">
                    <h6 class="fw-semibold border-bottom border-dark border-2 pt-2 pb-1 d-inline">
                        Description
                    </h6>
                    <p class="pt-2 lh-2">You can enjoy cool and refreshing air even on hot summer days with the help of
                        the Bajaj Crest Neo Ceiling Fan. With its high speeds of up to 340 RPM and an air delivery rate
                        of up to 205 cubic metres per minute, this ceiling fan can keep your room well-ventilated at all
                        times. Equipped with 1200 mm high-quality ribbed aluminium blades, this ceiling fan ensures
                        excellent air delivery and long-lasting performance.</p>
                    <h6 class="fw-semibold border-bottom border-dark border-2 pt-2 pb-1 d-inline">
                        Specifications
                    </h6>
                    <p class="pt-2 lh-2">Model Name : Crest Neo<br>
                        Brand Color : Brown<br>
                        Number of Blades : 3<br>
                        Pack of : 1<br>
                        Reversible Rotation : No<br>
                        Remote : No<br>
                        Power Requirement : AC 230 V, 50 Hz<br>
                        Blade Material : Aluminium.
                    </p>
                </div>
                <!-- Ratings & Reviews start -->
                <h6 class="fw-semibold border-bottom border-dark border-2 pt-2 pb-1 d-inline">
                    Ratings & Reviews
                </h6>
                <p>
                <h3 class="star px-2 py-1 m-2 mt-3 text-white d-inline-block">3.5 <i
                        class="bi bi-star-fill text-warning fw-bold"></i></h3>170 ratings and 19 reviews</p>
                <h6 class="fw-semibold">Customer Reviews -</h6>
                <!-- Reviews box -->

                <div class="border py-2 px-1">
                    <p><span class="h4 text-success fw-semibold">3.5 Star</span> Rama</p>
                    <div class=" d-flex gap-1 ">
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    </div>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, debitis rem.</p>
                </div>
                <div class="border py-2 px-1">
                    <p><span class="h4 text-success fw-semibold">3.5 Star</span> Rama</p>
                    <div class=" d-flex gap-1 ">
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    </div>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, debitis rem.</p>
                </div>
                <div class="border py-2 px-1">
                    <p><span class="h4 text-success fw-semibold">3.5 Star</span> Rama</p>
                    <div class=" d-flex gap-1 ">
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    </div>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, debitis rem.</p>
                </div>
                <div class="border py-2 px-1">
                    <p><span class="h4 text-success fw-semibold">3.5 Star</span> Rama</p>
                    <div class=" d-flex gap-1 ">
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                        <div class="productImgDiv border"><img src="../static/f2.png" alt=""></div>
                    </div>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, debitis rem.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- similar products start -->
    <div class="container-fluid d-flex flex-column justify-center align-items-center pt-4">
        <h2 class="border w-100 text-center mb-4">Similar Product</h2>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col">
                    <div class="product-cart position-relative">
                        <img src="../static/f3.jpg" alt="Product 1">
                        <i role="button" class="position-absolute  top-20 end-0 me-2 bi bi-heart bg-info-subtle heart px-2 py-1 rounded-circle"></i>
                        <!-- <i class="bi bi-heart-fill bg-info-subtle heart rounded-circle"></i> -->
                        <p class="brand mb-2"><span class="fw-semibold ">Bajaj </span><span>Electric Induction 2000w.</span>
                        </p>
                        <p class="star px-2 py-1 text-white d-inline">3.5 <i
                                class="bi bi-star-fill text-warning fw-bold"></i></p>
                        <div class="d-flex justify-content-between pt-2">
                            <div class="price">Rs.20/-</div>
                            <div class="discount">20% off</div>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="product-cart position-relative">
                        <img src="../static/f3.jpg" alt="Product 1">
                        <i role="button" class="position-absolute  top-20 end-0 me-2 bi bi-heart bg-info-subtle heart px-2 py-1 rounded-circle"></i>
                        <!-- <i class="bi bi-heart-fill bg-info-subtle heart rounded-circle"></i> -->
                        <p class="brand mb-2"><span class="fw-semibold ">Bajaj </span><span>Electric Induction 2000w.</span>
                        </p>
                        <p class="star px-2 py-1 text-white d-inline">3.5 <i
                                class="bi bi-star-fill text-warning fw-bold"></i></p>
                        <div class="d-flex justify-content-between pt-2">
                            <div class="price">Rs.20/-</div>
                            <div class="discount">20% off</div>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="product-cart position-relative">
                        <img src="../static/f3.jpg" alt="Product 1">
                        <i role="button" class="position-absolute  top-20 end-0 me-2 bi bi-heart bg-info-subtle heart px-2 py-1 rounded-circle"></i>
                        <!-- <i class="bi bi-heart-fill bg-info-subtle heart rounded-circle"></i> -->
                        <p class="brand mb-2"><span class="fw-semibold ">Bajaj </span><span>Electric Induction 2000w.</span>
                        </p>
                        <p class="star px-2 py-1 text-white d-inline">3.5 <i
                                class="bi bi-star-fill text-warning fw-bold"></i></p>
                        <div class="d-flex justify-content-between pt-2">
                            <div class="price">Rs.20/-</div>
                            <div class="discount">20% off</div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="product-cart position-relative">
                        <img src="../static/f3.jpg" alt="Product 1">
                        <i role="button" class="position-absolute  top-20 end-0 me-2 bi bi-heart bg-info-subtle heart px-2 py-1 rounded-circle"></i>
                        <!-- <i class="bi bi-heart-fill bg-info-subtle heart rounded-circle"></i> -->
                        <p class="brand mb-2"><span class="fw-semibold ">Bajaj </span><span>Electric Induction 2000w.</span>
                        </p>
                        <p class="star px-2 py-1 text-white d-inline">3.5 <i
                                class="bi bi-star-fill text-warning fw-bold"></i></p>
                        <div class="d-flex justify-content-between pt-2">
                            <div class="price">Rs.20/-</div>
                            <div class="discount">20% off</div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="product-cart position-relative">
                        <img src="../static/f3.jpg" alt="Product 1">
                        <i role="button" class="position-absolute  top-20 end-0 me-2 bi bi-heart bg-info-subtle heart px-2 py-1 rounded-circle"></i>
                        <!-- <i class="bi bi-heart-fill bg-info-subtle heart rounded-circle"></i> -->
                        <p class="brand mb-2"><span class="fw-semibold ">Bajaj </span><span>Electric Induction 2000w.</span>
                        </p>
                        <p class="star px-2 py-1 text-white d-inline">3.5 <i
                                class="bi bi-star-fill text-warning fw-bold"></i></p>
                        <div class="d-flex justify-content-between pt-2">
                            <div class="price">Rs.20/-</div>
                            <div class="discount">20% off</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
 <!-- similar products end -->

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="container d-flex flex-column ">
            <div class="row d-flex gap-4  py-4 f-main">
                <div class="col-12 col-md-4 d-flex flex-column">
                    <h4 class="fw-bold">ABOUT</h4>
                    <a class="footerATag" href="#">About Us</a>
                    <a class="footerATag" href="#">Contact Us</a>
                </div>
                <div class="col-12 col-md-4 d-flex flex-column">
                    <h4 class="fw-bold">Consumer Policy</h4>
                    <a class="footerATag" href="#">Return Policy</a>
                    <a class="footerATag" href="#">Terms Of Use</a>
                </div>
                <div class="col-12 col-md-3 flex flex-column ">
                    <h4 class="fw-bold">SOCIAL</h4>
                    <div class="d-flex  gap-4">
                        <a href="#"><i class="bi bi-instagram fm-icon"></i></a>
                        <a href="#"><i class="bi bi-linkedin fm-icon"></i></a>
                        <a href="#"><i class="bi bi-facebook fm-icon"></i></a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between py-5 f-sub">
                <div class="d-flex align-center">
                    <div class="d-flex gap-1 f-links">
                        <i class="bi bi-bag-fill f-icon"></i>
                        <a href="#">Become Seller</a>
                    </div>
                    <div class="d-flex gap-2 f-links">
                        <i class="bi bi-star-fill f-icon"></i>
                        <a href="#">Advertise</a>
                    </div>
                    <div class="d-flex gap-2 f-links">
                        <i class="bi bi-patch-question-fill f-icon"></i>
                        <a href="#">Help center</a>
                    </div>
                    <div class="d-flex gap-2 f-links">
                        <i class="bi bi-c-circle-fill f-icon"></i>
                        <a href="#">wobo4u.com</a>
                    </div>
                </div>
                <div class="d-flex fPayment-images">
                    <img src="../static/footerImages/payment-method_69e7ec.svg" alt="">
                </div>
            </div>
            <div class="text-center border-top">Powered by <a href="#"><img class="aagsImg" src="../static/aagsImg.jpeg"></a></div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!-- BootStarp Script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>