<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BootStrap Icon Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- cart page css link -->
    <link rel="stylesheet" href="../static/css/shopORhomePage.css">
    <title>Home page</title>
</head>

<body>
    <!-- header -->

    <div class="navHeader">
        <div><a href="#"><img class='logoForWebsite' src="../static/logo.png"></img></a></div>
        <div class="searchFild"><input type="search" class="searchBar"
                placeholder=" Search for product brand and more"></input><span class="searchIcon bi bi-search">
                <AiOutlineSearch />
            </span></div>
        <div class="rightSideOfNav ">
            <a class="becomeSeller aTag" href="#">Become A Seller</a>
            <!-- {/* search button for mobile start */} -->
            <button class="btn searchIconMobile fs-4 bi bi-search" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            </button>
            <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
                aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header pe-4">
    
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                    <div class="searchFildOffcanvas "><input type="search" class="searchBar w-100 "
                            placeholder=" Search for product brand and more"></input><span class="searchIcon">
                        </span></div>
                </div>
            </div>
            <!-- {/* search button for mobile end */} -->
    
            <div class="dropdown-right ">
                <button class="btn fs-5 p-0 dropdown-toggle profileToggle bi bi-person" type="button"
                    data-bs-toggle="dropdown">
    
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2  bi-person"></i> My
                            Profile</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-box2-heart"></i>
                            Orders</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi bi-heart"></i>
                            Wishlist</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-emoji-smile"></i>
                            Help
                            Center</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-journal-check"></i>
                            Terms,Policies</a></li>
                    <li><a class="dropdown-item aTag" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-box-arrow-left"></i>
                            Logout</a></li>
                </ul>
            </div>
            <a href="#" class="cartIcon bi bi-cart3 aTag">
                <BsCart3 />
                <spam class="numberOnCart">0</spam>
            </a>
    
        </div>
    </div>
    <!-- header end -->

    <!-- <div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-3">
            <h4>Categories</h4>
            <ul class="list-group">
                <a th:href="@{/shop}"><li class="list-group-item">All Products</li></a>
                <a href="" th:each="category, iStat : ${categories}"
                   th:href="@{/shop/category/{id}(id=${category.id})}"><li
                               class="list-group-item" th:text="${category.name}"></li></a>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="card" style="margin-top: 20px" th:each="product : ${products}">
                <div class="row no-gutters">
                    <div class="col-sm-5 d-flex justify-content-center">
                        <img class="" height="150px" width="150px" th:src="@{${'/productImages/' + product.imageName}}" th:alt="${product.name}">
                    </div>
                    <div class="col-sm-7 d-flex justify-content-center">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}"></h5>
                            <h4>₹ <span th:text="${product.price}"></span></h4>
                            <p th:text="${product.description}" >Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                            <a href="#" th:href="@{/shop/viewproduct/{id}(id=${product.id})}" class="btn btn-primary">View Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

    <!-- main start -->
    <!-- for mobile catogery bar start -->
    <div class=" d-block d-sm-none categoryMenu mt-2 px-md-5 pb-2">
    <div class=" d-flex justify-content-between align-items-baseline">

        <div class="text-center text-center px-1">
            <div class="imgCategory"><img src="../static/LED TV.svg"></img></div>
            <h4 class="categoryName">Electronic</h4>

        </div>

        <div class="d-flex flex-column align-items-center pe-1">
            <div class="imgCategory"><img src="../static/Large Home Appliances.svg"></img></div>

            <h4 class="categoryName">Large Home Appliances</h4>

        </div>
        <div class="d-flex flex-column align-items-center pe-1">
            <div class="imgCategory"><img src="../static/Small Home App..svg"></img></div>
            <h4 class="categoryName">Small Home Appliances</h4>


        </div>
        <div class="d-flex flex-column align-items-center pe-1">
            <div class="imgCategory"><img src="../static/Gadgets.svg"></img></div>
            <h4 class="categoryName">Gadgets</h4>


        </div>
        <div class="d-flex flex-column align-items-center pe-1">
            <div class="imgCategory"><img src="../static/Fashion.svg"></img></div>

            <h4 class="categoryName">Fashion</h4>


        </div>
        <div class="d-flex flex-column align-items-center pe-1">
            <div class="imgCategory"><img src="../static/personal Care.svg"></img></div>

            <h4 class="categoryName">Personal Care</h4>

        </div>
    </div>
    </div>
    <!-- for mobile catogery bar end -->


    <!-- for desktop catogery bar start-->
    <div class="d-none d-sm-block categoryMenu mt-2 px-md-5 pb-2">

        <div class="d-flex justify-content-between align-items-baseline">

            <div class="text-center px-2">
                <img src="../static/LED TV.svg"></img>
                <div class="dropdown">
                    <h4 class="categoryName">Electronic</h4>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">24” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">32” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">40”-43” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">50” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">55” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">60” & Above LED TV</a></li>
                    </ul>
                </div>
            </div>

            <div class="text-center px-2">
                <img src="../static/Large Home Appliances.svg"></img>

                <div class="dropdown">
                    <h4 class="categoryName d-block">Large Home Appliances</h4>


                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">24” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">32” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">40”-43” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">50” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">55” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">60” & Above LED TV</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center px-2">
                <img src="../static/Small Home App..svg"></img>
                <div class="dropdown">
                    <h4 class="categoryName">Small Home Appliances</h4>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">24” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">32” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">40”-43” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">50” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">55” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">60” & Above LED TV</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center px-2">
                <img src="../static/Gadgets.svg"></img>
                <div class="dropdown">
                    <h4 class="categoryName">Gadgets</h4>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">24” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">32” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">40”-43” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">50” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">55” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">60” & Above LED TV</a></li>
                    </ul>
                </div>

            </div>
            <div class="text-center px-2">
                <img src="../static/Fashion.svg"></img>
                <div class="dropdown">
                    <h4 class="categoryName">Fashion</h4>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">24” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">32” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">40”-43” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">50” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">55” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">60” & Above LED TV</a></li>
                    </ul>
                </div>

            </div>
            <div class="text-center px-2">
                <img src="../static/personal Care.svg"></img>
                <div class="dropdown">
                    <h4 class="categoryName">Personal Care</h4>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">24” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">32” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">40”-43” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">50” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">55” LED TV</a></li>
                        <li><a class="dropdown-item" href="#">60” & Above LED TV</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- for desktop catogery bar end-->

<!-- Footer -->
<div class="container-fluid footer">
    <div class="container d-flex flex-column ">
        <div class="row d-flex gap-4  py-4 f-main">
            <div class="col-12 col-md-4 d-flex flex-column">
                <h4 class="fw-bold">ABOUT</h4>
                <a class="footerATag" href="#">About Us</a>
                <a class="footerATag" href="#">Contact Us</a>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column">
                <h4 class="fw-bold">Consumer Policy</h4>
                <a class="footerATag" href="#">Return Policy</a>
                <a class="footerATag" href="#">Terms Of Use</a>
            </div>
            <div class="col-12 col-md-3 flex flex-column ">
                <h4 class="fw-bold">SOCIAL</h4>
                <div class="d-flex  gap-4">
                    <a href="#"><i class="bi bi-instagram fm-icon"></i></a>
                    <a href="#"><i class="bi bi-linkedin fm-icon"></i></a>
                    <a href="#"><i class="bi bi-facebook fm-icon"></i></a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between py-5 f-sub">
            <div class="d-flex align-center">
                <div class="d-flex gap-1 f-links">
                    <i class="bi bi-bag-fill f-icon"></i>
                    <a href="#">Become Seller</a>
                </div>
                <div class="d-flex gap-2 f-links">
                    <i class="bi bi-star-fill f-icon"></i>
                    <a href="#">Advertise</a>
                </div>
                <div class="d-flex gap-2 f-links">
                    <i class="bi bi-patch-question-fill f-icon"></i>
                    <a href="#">Help center</a>
                </div>
                <div class="d-flex gap-2 f-links">
                    <i class="bi bi-c-circle-fill f-icon"></i>
                    <a href="#">wobo4u.com</a>
                </div>
            </div>
            <div class="d-flex fPayment-images">
                <img src="../static/footerImages/payment-method_69e7ec.svg" alt="">
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- BootStrap link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>