<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WishListPage</title>
    <!-- BootStrap Icon Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- BootStarp Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- style Sheet link -->
    <link rel="stylesheet" href="../static/css/wishList.css">
    <!-- js link -->
<script src="../static/js/cart.js" defer></script>
</head>
<body>
    <!-- Header -->
    <div class="navHeader">
        <div><a href="#"><img class='logoForWebsite' src="../static/logo.png"></img></a></div>
        <div class="searchFild"><input type="search" class="searchBar"
                placeholder=" Search for product brand and more"></input><span class="searchIcon bi bi-search">
                <AiOutlineSearch />
            </span></div>
        <div class="rightSideOfNav ">
            <a class="becomeSeller" href="#">Become A Seller</a>
            <!-- {/* search button for mobile start */} -->
            <button class="btn searchIconMobile fs-4 bi bi-search" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
            </button>
            <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
                aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header pe-4">

                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                    <div class="searchFildOffcanvas "><input type="search" class="searchBar w-100 "
                            placeholder=" Search for product brand and more"></input><span class="searchIcon">
                        </span></div>
                </div>
            </div>
            <!-- {/* search button for mobile end */} -->

            <div class="dropdown-right ">
                <button class="btn fs-5 p-0 dropdown-toggle profileToggle bi bi-person" type="button"
                    data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="bi iconInDropdown fw-bold pe-2  bi-person"></i> My
                            Profile</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-box2-heart"></i>
                            Orders</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi bi-heart"></i>
                            Wishlist</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-emoji-smile"></i> Help
                            Center</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-journal-check"></i>
                            Terms,Policies</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi iconInDropdown fw-bold pe-2 bi-box-arrow-left"></i>
                            Logout</a></li>
                </ul>
            </div>
            <a href="#" class="cartIcon bi bi-cart3">
                <BsCart3 />
                <spam class="numberOnCart">0</spam>
            </a>

        </div>
    </div>

    <!-- Main Section -->
    <div class="container wishlist-content ">
        <div class="wishlist-product d-flex gap-4 justify-content-center flex-wrap">
            <div class="productImg">
                <img src="../static/productImages/iphone-14-finish-select-202209-6-1inch-blue.jpeg"></img>
            </div>
            <div class="d-flex flex-column gap-3 ">
                <a href="#"><b>UBL Head Phone</b></a>
                <p class="lh-sm">Rockerz 370 come equipped with latest Bluetooth v5.0 for instant wireless
                    connectivity
                </p>
                <p>
                    <b>Rs. 1700/- </b>
                    <span class="px-3"> 2000/-</span>
                </p>
            </div>
            <div class="flex flex-col">


                <button type="button" class="btn btn-success">Add to Cart</button>
                <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash-fill "></i></button>
            </div>
        </div>
    </div>






    <!-- BootStarp Script Link  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>